<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/font.css">
    <title>Document</title>
</head>
<body>
    <h4>!Usuario o contraseña incorrecta¡</h4><br>
    <a class="btn" href="{{url_for('interfaz_login')}}">Volver a login</a><br>
    <a class="btn save-button" href="{{url_for('interfaz_registro')}}">Registrarme</a>
</html>