<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/font.css" />
    <link rel="stylesheet" href="css/tarjeta-lista.css" />
    <title>Lista</title>
  </head>
  <body>
    <section class="list">
      <div class="title">
        <h1>Servicios</h1>
        <div>
          <img src="./assets/options-icon.svg" alt="" />
        </div>
      </div>

      <div class="text-values-container">
        <div class="main-text">
          <p>Electricidad</p>
          <p>Agua</p>
          <p>Arriendo</p>
        </div>

        <div class="main-values">
          <p>$50.000</p>
          <p>$80.000</p>
          <p>$450.000</p>
        </div>
      </div>

      <div class="total">
        <p>Total</p>
        <div class="value">
          <p>580.000</p>
        </div>
      </div>
    </section>
  </body>
</html>
