@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
    height: 1000px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
section {
    border-bottom: 6px solid #1293d4 ;
    height: 10%;
}
section, ul{
    display: flex;
    justify-content: space-between;
    background-color: #232b2b;   
}
header {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    color: white;
}
nav {
    width: 30%;
    padding: 15px;
    
}
.expertos {
    background-image: url(/img/cabecera.jpg);
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.expertos div {
    width: 60%;
    text-align: center;
}
nav ul li {
    display: flex;
    justify-content: space-between;
    color: white;

}
.barra_intermedia {
    display: flex;
    justify-content: space-between;
    background-color: #232b2b;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    height: 10%;
}
.pre_footer {
    display: flex;
    background-color: white;
    color: black;
    min-height: 30%;
    margin-left: 150px;
}
.contenedor_prefooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 25%;
    text-align: center;
    padding: 50px;
}
footer {
    display: flex;
    background-color: #1293d4;
    color: white;
    height: 9%;
    align-items: center;
    justify-content: center;
}
span {
    color: #1293d4;
}
ul {
    padding: 0px 180px 0px 0px;
}
h1{
    font-size: 30px;
}
h2 {
    font-size: 70px;
}
h3 {
    font-size: 25px;
}
p {
    font-size: 22px;
}
.formulario {
    display: flex;
    align-items: center;
    width: 30%;
}
.formulario_intermedio {
    height: 40px;
}
.suscribirse {
    height: 40px;
    width: 100px;
    background-color: orangered;
    color: white;
}
.contenido {
    display: flex;
    justify-content: space-evenly;
    height: 80%;
    width: 100%;
}
.sub_nosotros {
    background-color: #232b2b;
    color: white;
    padding: 8px;
}
.que_hacemos {
    width: 28%;
    height: 35%;
    background-color: #232b2b;
    color: white;   
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    margin-left: 5%;
    padding: 2%;
}
img {
    width: 100%;
    margin-top: 15px;
}
.texto {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-left: 7%;
}
.nosotros {
    text-align: justify;
}

.diseño_web {
    border-style: solid;
    border-color:#dcdcdc;
    border-width: thin;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    background-color:#f4f4f4;
    height: 25%;
}
.enviar {
    height: 40px;
    width: 100%;
    background-color: orangered;
    color: white;
    margin-top: 10px;
}

input {
    width: 100%;
    height: 50px;
}

.Mensaje {
    height: 300px;
}

a {
    text-decoration: none;
    color: white;
}
.logo {
    width: 150px;
}
.campo_formulario {
    height: 40px;
    width: 300px;
}
.div_map {
    display: flex;
    flex-direction:  column;
    height: 80%;
    width: 40%;
    padding-left: 5%;
}

.que_hacemos_contacto{
    width: 72%;
    height: 65%;
    background-color: #232b2b;
    color: white;   
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    margin-left: 5%;
    padding: 2%;
}
.mapa {
    width: 76%;
    height: 90%;
    margin-left: 5%;
}