<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SESIONES - ADSI</title>
</head>
<body> 
    <h1>Bienvenidos a mi sitio web matemático</h1>
    Si quieres restar:
    <a href="/interfazresta">Restar aqui</a>
    <br>
    Quieres sacar el valor absoluto:
    <a href="/interfazvalorabsoluto">Valor absoluto aqui</a>
    <br>
    Quieres sacar el perimetro de un triangulo:
    <a href="/interfazperimetrotriangulo">Sacar perimetro de un triangulo aqui</a>
    <br>
    Quieres sacar la circunferencia de un circulo:
    <a href="/interfazcircuferenciacirculo">Sacar circuferencia del circulo aqui</a>
</body>
</html>



