<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tienda de mascotas</title>
</head>
<body>
	<nav>
		<ul>
			<li>
				<a href="/">HOME</a>
			</li>
			<li>
				<a href="/inicio_sesion">INICIAR SESIÓN</a>
			</li>
			<li>
				<a href="/donaciones">DONAR</a>
			</li>
		</ul>
	</nav>
	<main>
		<h2>Bienvenido a la página de donaciones.</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ex ad similique consequatur hic harum, aliquam, porro facilis consectetur alias quaerat amet dolorem minus accusamus? Asperiores autem consequatur obcaecati numquam.</p>
		<a href="/"><button>Donar ahora</button></a>
	</main>
</body>
</html>
