<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tienda de mascotas</title>
</head>
<body>
	<nav>
		<ul>
			<li>
				<a href="/">HOME</a>
			</li>
			<li>
				<a href="/inicio_sesion">INICIAR SESIÓN</a>
			</li>
			<li>
				<a href="/donaciones">DONAR</a>
			</li>
		</ul>
	</nav>
	<main>
		<section>
			<img src="" alt="Gatos">
			<h3>Gatos</h3>
			<a href="/gatos">
				<button>Ver los gatos</button>
			</a>
		</section>
		<section>
			<img src="/perros" alt="Perro">
			<h3>Perros</h3>
			<a href="/perros">
				<button>Ver los perros</button>
			</a>
		</section>
	</main>
</body>
</html>
