<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tienda de mascotas</title>
</head>
<body>
	<nav>
		<ul>
			<li>
				<a href="/">HOME</a>
			</li>
			<li>
				<a href="/inicio_sesion">INICIAR SESIÓN</a>
			</li>
			<li>
				<a href="/donaciones">DONAR</a>
			</li>
		</ul>
	</nav>
	<main>
		<section>
			<div>
				<img src="" alt="Perros">
				<h3>Perro 1</h3>
				<a href="/adoptar/perro?id=1"><button>Adoptar</button></a>
			</div>
			<div>
				<img src="" alt="Perros">
				<h3>Perro 2</h3>
				<a href="/adoptar/perro?id=2"><button>Adoptar</button></a>
			</div>
			<div> 
				<img src="" alt="Perros">
				<h3>Perro 3</h3>
				<a href="/adoptar/gato?id=3"><button>Adoptar</button></a>
			</div>
			<div>
				<img src="" alt="Perros">
				<h3>Perro 4</h3>
				<a href="/adoptar/gato?id=4"><button>Adoptar</button></a>
			</div>
			<div>
				<img src="" alt="Perros">
				<h3>Perro 5</h3>
				<a href="/adoptar/gato?id=5"><button>Adoptar</button></a>
			</div>
		</section>
	</main>
</body>
</html>
