<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SESIONES - ADSI</title>
</head>
<body>
    <p>Introduzca el radio de la esfera en <i>cm</i> para calcular su volumen:</p>
    <form method="POST" action="/c_1_vol_esfera">
        <input type="text" name="radio" placeholder="Radio">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
