<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SESIONES - ADSI</title>
  </head>
  <body>
    <main>
      <h1>Bienvenidos a mi sitio web matemático</h1>
      <section>
        <h4>Aritmética</h4>
        <ul>
          <li>
            <p></p><a href="/interfaz_suma">Para sumar, ingresa aqui</a>
          </li>
          <li>
            <a href="/interfaz_resta">Para restar, ingresa aqui</a>
          </li>
          <li>
            <a href="/interfaz_multiplicar">Para multiplicar, ingresa aqui</a>
          </li>
          <li>
            <a href="/interfaz_division">Para dividir, ingresa aqui</a>
          </li>
          <li>
            <a href="/interfaz_modulo">Para calcular módulo, ingresa aqui</a>
          </li>
          <li>
            <a href="/interfaz_valor_absoluto">Para calcular el valor absoluto, ingresa aqui</a>
          </li>
          <li>
            <a href="/interfaz_promedio">Para calcular el promedio, ingresa aqui</a>
          </li>
          <li>
            <a href="/interfaz_factorial">Para calcular el factorial, ingresa aqui</a>
          </li>
        </ul>
      </section>
      <section>
        <h4>Estadística</h4>
        <ul>
          <li>
            <a href="/interfaz_moda">Para calcular la moda, ingresa aqui</a>
          </li>
        </ul>
      </section>
      <section>
        <h4>Geometría plana</h4>
        <ul>
          <li>
            <a href="/interfaz_area_rectangulo">Para calcular el área rectangulo, ingresa aqui</a>
          </li>
          <li>
            <a href="/interfaz_perimetro_triangulo">Para calcular el perímetro de un triangulo, ingresa aqui</a>
          </li>
          <li>
            <a href="/interfaz_area_triangulo">Para calcular el area del triángulo, ingresa aqui</a>
          </li>
          <li>
            <a href="/interfaz_perimetro_rectangulo">Para calcular el perimetro de un rectángulo, ingresa aqui</a>
          </li>
          <li>
            <a href="/interfaz_area_circulo">Para calcular el area de un circulo, ingresa aqui</a>
          </li>
          <li>
            <a href="/interfaz_circuferencia_circulo">Para calcular la circuferencia de un circulo, ingresa aqui</a>
          </li>
        </ul>
      </section>
      <section>
        <h4>Geometría espacial</h4>
        <ul>
          <li>
            <a href="/interfaz_volumen_esfera">Para sacar el volumen de una esfera, ingresa aqui</a>
          </li>
          <li>
            <a href="/interfaz_volumen_cubo">Para sacar el volumen de un cubo, ingresa aqui</a>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
