<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Diseño Multimedia</title>
</head>
<body>
    <section>
        <header>
        <h1>Diseño Multimedia</h1>
            </header>
        <nav>
            <ul>
                <li>INICIO</li>
                <li>NOSOTROS</li>
                <li>SERVICIOS</li>
                <li>CONTACTO</li>
            </ul>
        </nav>
    </section>
    <div class="expertos">
        <div>
            <h2>EXPERTOS EN TECNOLOGÍAS WEB</h2>
            <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus laborum perspiciatis placeat quibusdam mollitia minima tempore atque nihil molestias recusandae numquam ullam sint, incidunt delectus illo sunt quas aut maxime.</H2>
        </div>   
    </div>
    <div>
        <h3>Subcribete a nuestro boletin</h3>
    </div>
    <footer>Graphel Desarrollo Web, Copyright 2017</footer> 
</body>
</html>