<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SESIONES - ADSI</title>
</head>
    <body>
        <p>Introduzca los numeros a dividir:</p>
        <form method="POST" action="/a_4_division">
            <input type="text" name="numero1" placeholder="Número 1">
            <input type="text" name="numero2" placeholder="Número 2">
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>
