<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SESIONES - ADSI</title>
  </head>
  <body>
    <p>Ingrese la altura y base del rectángulo para calcular su área:</p>
    <form method="POST" action="/b_1_area_rectangulo">
      <input type="text" name="altura" placeholder="Altura" />
      <input type="text" name="base" placeholder="Base" />
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
