<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SESIONES - ADSI</title>
</head>
<body>
    <p>Introduzca los lados del triángulo para calcular su área:</p>
    <form method="POST" action="/b_3_area_triangulo">
        <input type="text" name="base" placeholder="Base">
        <input type="text" name="altura" placeholder="Altura">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
